In [1]:
# 1. 사용자가 평가한 모든 영화의 전체 평균 평점을 출력하자

import numpy as np
import pandas as pd

df = pd.read_csv('./data/ratings.csv')
display(df)

print(df['rating'].mean())

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

3.501556983616962

In [2]:
# 2. 각 사용자별 평균 평점 구하시오
#    출력시 정렬은 userId로 오름차순 정렬하기

grouped = df.groupby(['userId']).mean()
display(grouped['rating'])

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [3]:
# 3. 각 영화별 평균 평점을 구하시요
#    출력시 정렬은 movieId로 오름차순 정렬
df1 = pd.read_csv('./data/ratings.csv')
# display(df1.head())

df2 = pd.read_csv('./data/movies.csv')
# display(df2.head())

result_df = pd.merge(df1, df2, on='movieId', how='inner')
display(result_df)

grouped =result_df.groupby(['movieId','title']).mean()
display(grouped['rating'])

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

movieId  title
1        Toy Story (1995)                             3.920930
2        Jumanji (1995)                               3.431818
3        Grumpier Old Men (1995)                      3.259615
4        Waiting to Exhale (1995)                     2.357143
5        Father of the Bride Part II (1995)           3.071429
                                                        ...
193581   Black Butler: Book of the Atlantic (2017)    4.000000
193583   No Game No Life: Zero (2017)                 3.500000
193585   Flint (2017)                                 3.500000
193587   Bungo Stray Dogs: Dead Apple (2018)          3.500000
193609   Andrew Dice Clay: Dice Rules (1991)          4.000000
Name: rating, Length: 9724, dtype: float64

In [23]:
# 4. 평균 평점이 가장 높은 영화의 제목을 출력하시오
#    단, 동률이 있을 경우 모두 출력하고
#    title을 기준으로 오름차순 정렬
df1 = pd.read_csv('./data/ratings.csv')
# display(df)

df2 = pd.read_csv('./data/movies.csv')
# display(df2)

result_df = pd.merge(df1, df2, on='movieId', how='inner')
display(result_df)

grouped =result_df.groupby(['movieId','title']).mean()
grouped_sort = grouped.sort_values(by='rating', ascending=False)
display(grouped_sort)

max_rating = grouped_sort.iloc[0]['rating']
print(max_rating)

# print(grouped_sort['rating']==max_rating)
rating_max = (grouped_sort['rating']==max_rating)

# sort는 복사본 안 만듦
grouped_sort = grouped_sort.sort_values(by='title',ascending=True)
display(grouped_sort[rating_max])

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

                                               userId  rating     timestamp
movieId title
88448   Paper Birds (Pájaros de papel) (2010)   483.0     5.0  1.315438e+09
100556  Act of Killing, The (2012)              462.0     5.0  1.456151e+09
143031  Jump In! (2007)                          89.0     5.0  1.520409e+09
143511  Human (2015)                            105.0     5.0  1.526207e+09
143559  L.A. Slasher (2015)                      89.0     5.0  1.520410e+09
...                                               ...     ...           ...
157172  Wizards of the Lost Kingdom II (1989)   448.0     0.5  1.492797e+09
85334   Hard Ticket to Hawaii (1987)            358.0     0.5  1.339546e+09
53453   Starcrash (a.k.a. Star Crash) (1978)    448.0     0.5  1.492366e+09
8494    Cincinnati Kid, The (1965)              580.0     0.5  1.167791e+09
71810   Legionnaire (1998)                      599.0     0.5  1.498503e+09

[9724 rows x 3 columns]

5.0

C:\Users\yeop\.conda\envs\machine_TF15\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                                          userId  rating     timestamp
movieId title
27751   'Salem's Lot (2004)                345.0     5.0  1.342827e+09
77846   12 Angry Men (1997)                177.0     5.0  1.435803e+09
141816  12 Chairs (1976)                   105.0     5.0  1.526208e+09
5468    20 Million Miles to Earth (1957)   377.0     5.0  1.340342e+09
27373   61* (2001)                         585.0     5.0  1.307417e+09
...                                          ...     ...           ...
187717  Won't You Be My Neighbor? (2018)   462.0     5.0  1.529414e+09
108795  Wonder Woman (2009)                380.0     5.0  1.493422e+09
158398  World of Glory (1991)               89.0     5.0  1.520409e+09
173351  Wow! A Talking Fish! (1983)        105.0     5.0  1.526207e+09
84273   Zeitgeist: Moving Forward (2011)   318.0     5.0  1.330278e+09

[296 rows x 3 columns]

In [18]:
# 5. Comedy영화 중 가장 평점이 낮은 영화의 제목을 출력하시오.
#    동률이 있을 경우 모두 출력하고
#    title를 기준으로 오름차순 정렬

result_df = pd.merge(df1, df2, on='movieId', how='inner')
# display(result_df)

comedy_movie = result_df['genres'].str.contains('Comedy')
# display(comedy_movie)

grouped_comedy = result_df[result_df['genres'].str.contains('Comedy')]
# display(grouped_comedy)

grouped =grouped_comedy.groupby(['movieId','title']).mean()
display(grouped)

grouped_sort = grouped.sort_values(by='rating', ascending=True)
display(grouped_sort)

min_rating = grouped_sort.iloc[0]['rating']
print(min_rating)

rating_min = (grouped_sort['rating']==min_rating)
grouped_sort = grouped_sort.sort_values(by='title',ascending=True)
display(grouped_sort[rating_min])


# genres_df = result_df['genres'].str.get_dummies(sep='|')
# genres_df.head()

# result_df = result_df.drop(['genres'],axis=1)
# result_df = result_df.join((genres_df))
# display(result_df)

,,userId,rating,timestamp
movieId,title,,,
1,Toy Story (1995),306.530233,3.920930,1.129835e+09
3,Grumpier Old Men (1995),283.596154,3.259615,1.005110e+09
4,Waiting to Exhale (1995),219.857143,2.357143,8.985789e+08
5,Father of the Bride Part II (1995),299.571429,3.071429,9.926643e+08
7,Sabrina (1995),279.000000,3.185185,9.665462e+08
...,...,...,...,...
193565,Gintama: The Movie (2010),184.000000,3.500000,1.537099e+09
193571,Silver Spoon (2014),184.000000,4.000000,1.537099e+09
193581,Black Butler: Book of the Atlantic (2017),184.000000,4.000000,1.537109e+09
193583,No Game No Life: Zero (2017),184.000000,3.500000,1.537110e+09
193609,Andrew Dice Clay: Dice Rules (1991),331.000000,4.000000,1.537158e+09

,,userId,rating,timestamp
movieId,title,,,
165645,Bad Santa 2 (2016),111.0,0.5,1.516156e+09
72696,Old Dogs (2009),382.0,0.5,1.515163e+09
7312,"Follow Me, Boys! (1966)",88.0,0.5,1.331421e+09
122246,Tooth Fairy 2 (2012),567.0,0.5,1.525290e+09
31692,Uncle Nino (2003),221.0,0.5,1.121365e+09
...,...,...,...,...
3473,Jonah Who Will Be 25 in the Year 2000 (Jonas qui aura 25 ans en l'an 2000) (1976),379.5,5.0,9.537307e+08
162344,Tom Segura: Mostly Stories (2016),111.0,5.0,1.516155e+09
93320,Trailer Park Boys (1999),484.0,5.0,1.342296e+09
109241,On the Other Side of the Tracks (De l'autre côté du périph) (2012),89.0,5.0,1.520409e+09
134847,Ghost Graduation (2012),89.0,5.0,1.520409e+09

0.5

C:\Users\yeop\.conda\envs\machine_TF15\lib\site-packages\ipykernel_launcher.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,,userId,rating,timestamp
movieId,title,,,
134528,Aloha (2015),298.0,0.5,1.458650e+09
31422,Are We There Yet? (2005),307.0,0.5,1.186085e+09
91414,Arthur Christmas (2011),517.0,0.5,1.487956e+09
165645,Bad Santa 2 (2016),111.0,0.5,1.516156e+09
6557,Born to Be Wild (1995),599.0,0.5,1.498503e+09
25782,Boudu Saved From Drowning (Boudu sauvé des eaux) (1932),567.0,0.5,1.525290e+09
54934,"Brothers Solomon, The (2007)",298.0,0.5,1.467490e+09
26095,"Carabineers, The (Carabiniers, Les) (1963)",358.0,0.5,1.339546e+09
54768,Daddy Day Camp (2007),219.0,0.5,1.194932e+09
7312,"Follow Me, Boys! (1966)",88.0,0.5,1.331421e+09
85334,Hard Ticket to Hawaii (1987),358.0,0.5,1.339546e+09
110773,"Haunted House 2, A (2014)",111.0,0.5,1.516156e+09
27595,Jesus Christ Vampire Hunter (2001),599.0,0.5,1.519176e+09
138798,Joe Dirt 2: Beautiful Loser (2015),298.0,0.5,1.450453e+09
92681,Journey 2: The Mysterious Island (2012),567.0,0.5,1.525290e+09
44243,Leprechaun 4: In Space (1997),599.0,0.5,1.498503e+09
104644,Maria Bamford: The Special Special Special! (2012),111.0,0.5,1.517441e+09
72696,Old Dogs (2009),382.0,0.5,1.515163e+09
141994,Saving Christmas (2014),514.0,0.5,1.536381e+09
8632,Secret Society (2002),483.0,0.5,1.178294e+09
175475,The Emoji Movie (2017),184.0,0.5,1.537110e+09
135216,The Star Wars Holiday Special (1978),514.0,0.5,1.536381e+09
122246,Tooth Fairy 2 (2012),567.0,0.5,1.525290e+09
31692,Uncle Nino (2003),221.0,0.5,1.121365e+09
60363,Zombie Strippers! (2008),68.0,0.5,1.240093e+09

In [20]:
# 6. 2015년도에 평가된 모든 Romance 영화의 평균평점은?
from datetime import datetime
import time

result_df = pd.merge(df1, df2, on='movieId', how='inner')
# display(result_df)

date = []

for i in range(100836):
    t = result_df.iloc[i]['timestamp']
    dt = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t))
    date.append(dt)
result_df['datetime']= date
display(result_df)

,userId,movieId,rating,timestamp,title,genres,datetime
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2000-07-31 03:45:03
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1996-11-08 15:36:02
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2005-01-25 15:52:26
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2017-11-13 21:59:30
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2011-05-18 14:28:03
...,...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller,2016-11-19 17:55:49
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama,2016-11-19 17:43:18
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller,2017-05-04 05:53:14
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller,2017-05-04 06:59:49
100835,610,163981,3.5,1493850155,31 (2016),Horror,2017-05-04 07:22:35

In [25]:
grouped_date = result_df[result_df['datetime'].str.contains('2015')]
display(grouped_date)

grouped_romance = grouped_date[grouped_date['genres'].str.contains('Romance')]
# display(grouped_romance)

grouped_romance['rating'].mean()

,userId,movieId,rating,timestamp,title,genres,datetime
20,63,1,5.0,1443199669,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2015-09-26 01:47:49
26,76,1,0.5,1439165548,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2015-08-10 09:12:28
36,103,1,4.0,1431954238,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2015-05-18 22:03:58
38,112,1,3.0,1442535639,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2015-09-18 09:20:39
39,119,1,3.5,1435942468,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2015-07-04 01:54:28
...,...,...,...,...,...,...,...
99876,563,139747,3.5,1448243169,Before We Go (2014),Romance,2015-11-23 10:46:09
100059,598,113829,5.0,1430616765,"One I Love, The (2014)",Comedy|Drama|Romance,2015-05-03 10:32:45
100060,598,114265,5.0,1430616754,Laggies (2014),Comedy|Romance,2015-05-03 10:32:34
100061,598,124851,5.0,1430616773,Delirium (2014),Adventure|Romance|Sci-Fi,2015-05-03 10:32:53
100451,601,141846,4.0,1441639208,Steve Jobs: The Man in the Machine (2015),Documentary,2015-09-08 00:20:08

3.396375098502758

In [37]:
# 7. 모든 영화장르 중 사용자 평점이 가장 좋은 영화장르는 무엇인가요?
#    동률이 있으면 영화장르를 기준으로 오름차순 정렬

result_df = pd.merge(df1, df2, on='movieId', how='inner')
# display(result_df)

df_sort = result_df.sort_values(by='rating', ascending=False)
# display(df_sort)

max_rating = df_sort.iloc[0]['rating']
# print(max_rating)

rating_max = (df_sort['rating']==max_rating)

best = df_sort.sort_values(by='genres',ascending=True)
display(best[rating_max])

C:\Users\yeop\.conda\envs\machine_TF15\lib\site-packages\ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

,userId,movieId,rating,timestamp,title,genres
88668,105,171749,5.0,1526207365,Death Note: Desu nôto (2006–2007),(no genres listed)
88645,105,147250,5.0,1526207354,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed)
68761,586,122896,5.0,1529899587,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed)
98374,601,166024,5.0,1521467682,Whiplash (2013),(no genres listed)
81490,62,172591,5.0,1525637301,The Godfather Trilogy: 1972-1990 (1992),(no genres listed)
...,...,...,...,...,...,...
23418,597,2921,5.0,941640714,High Plains Drifter (1973),Western
23409,57,2921,5.0,965798591,High Plains Drifter (1973),Western
23410,115,2921,5.0,970838955,High Plains Drifter (1973),Western
31700,447,383,5.0,836962100,Wyatt Earp (1994),Western
31693,240,383,5.0,849122951,Wyatt Earp (1994),Western